@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}
body{
    display: flex;
    flex-direction: column;
    height:100vh;
    background-repeat:no-repeat;
    background-size:cover;
    font-family:Montserrat;
    font-size:16px;
    color:white;
    margin:0;
}

header{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
    box-sizing: border-box;
    padding:1em
}
#nav1{
    display: flex;
    justify-content: center;
}
#blank_banshee_name{
    width:18em;
    object-fit:contain;
}

#nav2{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    color:white;
    padding-left: 1em;
    padding-right: 1em;
}

section{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer{
    position:absolute;
    bottom:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
    box-sizing: border-box;
    padding:1em
}
article{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    backdrop-filter: blur(4px);
    width:45em;
    border-radius: 8px;
    margin:2em;
    padding:1em;
}

#accueil_background{
    background-image:url("images/accueil_background.jpg");
    background-position: center 33%;
}
#accueil_headfoot{
    background-color: #9406FB;
}

article img{
    width:14em;
    object-fit: contain;
}
article p{
    flex-basis: 60%; 
}
form input, label, textarea, select{
    padding:0.5em
}
form textarea{
    width:100%;
    max-width: 600px;
    height:10em;
    resize:none
}
#contact_background{
    background-image:url("images/contact_background.png");
    background-position: center top;
}
#contact_headfoot{
    background-color: black
}

#actualite_background{
    background-image:url("images/actualite_background.png");
    background-position: center center;
}
#actualite_headfoot{
    background-color:#242431
}

#lien_4D{
    text-decoration:none;
    color:#2a6860
}

#liens_background{
    background-image:url("images/liens_background.png");
    background-position: center center;
}
#liens_headfoot{
    background-color:#FEF600
}

a{
    color:#FEF600;
    text-decoration: none;
}

#article_liens{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap
}

.div_liens{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.div_liens a{
    padding:0.5em
}

#discog_background{
    background-image:url("images/discog_background.png");
    background-position: center bottom;
}
#discog_headfoot{
    background-color:#858CBF
}

.albums{
    width:10em
}

#photovideo_background{
    background-image:url("images/photovideo_background.png");
    background-position: center 33%;
    background-attachment: fixed;
}

#photovideo_headfoot{
    background-color:#56C987;
    position:relative
}

#article_photovideo{
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
}

#article_photovideo div{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#article_photovideo div img{
    width:20em
}