/* La raison qu'il n'y a pas de media queries pour que le site
s'adapte aux écrans mobiles est que background-attachment: fixed
ne marche pas correctement sur les mobiles et qu'il faut faire 
un workaround, cependant j'ai découvert que faire ceci voudra dire 
modifier radicalement mes html et mon css. Beaucoup de complications
avec les backgrounds et z-index.
https://css-tricks.com/the-fixed-background-attachment-hack/
Je crois que peut-être prendre une approche mobile-first la
prochaine fois serait une bonne idée. */

/* global */
@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}
body{
    display: flex;
    flex-direction: column;
    height:100vh;
    background-repeat:no-repeat;
    background-size:cover;
    font-family:Montserrat;
    font-size:16px;
    color:white;
    margin:0;
}

header{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
    box-sizing: border-box;
    padding:1em
}
.nav1{
    display: flex;
    justify-content: center;
}
.nav1 img{
    width:18em;
    object-fit:contain;
}
.nav2{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    color:white;
    padding-left: 1em;
    padding-right: 1em;
}

main{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
article{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    backdrop-filter: blur(4px);
    width:45em;
    border-radius: 8px;
    margin:2em;
    padding:1em;
    gap:1em
}
article img{
    width:14em;
    object-fit: contain;
}
article p{
    flex-basis: 60%; 
}
article div{
    flex-basis: 60%; 
}

footer{
    position:absolute;
    bottom:0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:100vw;
    box-sizing: border-box;
    padding:1em
}
footer a{
    color:white;
    text-decoration: none;
    font-size: 0.8em
}



/* specifics */
#accueil{
    background-image:url("images/accueil_background.jpg");
    background-position: center 33%;
}
#accueil header,
#accueil footer{
    background-color: #9406FB;
}

.discog{
    background-image:url("images/discog_background.png");
    background-position: center bottom;
}
.discog header,
.discog footer{
    background-color:#858CBF
}
.discog article{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center
}
/* transition et transform permet que l'image devient un peu plus grande lorsque la
souris passe dessus, avec une animation.*/
.albums{
    width: 10em;
    transition: all .2s ease-in-out
}
.albums:hover{
    transform: scale(1.1);
}

#actualite{
    background-image:url("images/actualite_background.png");
    background-position: center center;
}
#actualite header,
#actualite footer{
    background-color:#242431
}
#actualite article a{
    text-decoration:none;
    color:#2a6860
}

#photovideo{
    background-image:url("images/photovideo_background.png");
    background-position: center 33%;
    background-attachment: fixed;
}
#photovideo header,
#photovideo footer{
    background-color:#56C987;
    position:relative
}
#photovideo article{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: start;
    flex-wrap: nowrap;
}
#photovideo article div{
    display:flex;
    flex-direction: column;
}
#photovideo article div a{
    margin:0.5em
}
#photovideo article div a img{
    width:20em;
    transition: all .2s ease-in-out;
}
#photovideo article div a img:hover{
    transform: scale(1.1);
}
#photovideo article video{
    width:42em
}

#liens{
    background-image:url("images/liens_background.png");
    background-position: center center;
}
#liens header,
#liens footer{
    background-color:#FEF600;
}
#liens header a,
#liens footer a{
    filter:invert(100%)
}
#liens article{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap
}
#liens article div{
    display:flex;
    flex-direction:column;
    align-items: center;
}
#liens article div a{
    color:#FEF600;
    text-decoration: none;
    padding:0.5em
}

#contact{
    background-image:url("images/contact_background.png");
    background-position: center top;
}
#contact header,
#contact footer{
    background-color: black
}
#contact form input,
#contact label,
#contact textarea,
#contact select{
    padding:0.5em
}
#contact form textarea{
    width:100%;
    max-width: 600px;
    height:10em;
    resize:none
}

#about{
    background-image:url("images/about.png");
    background-position: center 33%;
}
#about header,
#about footer{
    background-color: #7E00FF;
}
#about article a{
    color:#F800A1;
    text-decoration: none;
}